
body{
    margin: 0;
    width:100%;
}
#map {
    margin-top:50px;
    height: 500px;
    height:600px;
  }
  .sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 20px;
    padding: 20px;
    padding-top: 60px;
    float: left;
  }
  .sidenav-right{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow: hidden;
    padding-top: 20px;
    padding: 20px;
    padding-top: 60px;
    float: right;
  }
  .sidenav img{
      height: 80px;
      width: 80px;
      margin-top: 10px;
      margin-left: 2px;
  }
  .sidenav-right img{
    height: 80px;
    width: 80px;
    margin-top: 10px;
    margin-left: 2px;
}
.text-sidenav{
    margin-top: 5px;
}
