body{
    margin: 0;
    width:100%;
}
#map {
    margin-top:30px;
    height: 650px;
  }
  .sidenav{
      margin-left: 20px;
  }
  .sidenav img{
      height: 120px;
      width: 120px;
      margin-left: -2px;
      padding-bottom: -20px;
      margin-top: 30px;
  }
.text-sidenav{
    margin-top: -30px;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

.ipbox input[type = "email"],.ipbox input[type = "password"]{
    border:0;
    display: block;
    text-align: center;
    border-radius: 15px;
    padding: 10px;
    background: blue;
}

#crane{
    transition: transform .2s;
}
#crane:hover{
    transform: scale(1.08);
}
#bus{
    transition: transform .2s;
}
#bus:hover{
    transform: scale(1.08);
}
